<app-default>
  <app-card>
    <div class="card-header">
      <h3>Sobre o evento</h3>
      <span>Ao vivo</span>
    </div>

    <div class="body-text">
      <p>
        Um evento feito por e para pessoas desenvolvedoras apaixonadas por criar soluções inovadoras
        e compartilhar conhecimento. Vamos mergulhar nas tendências mais recentes em desenvolvimento
        de software, arquitetura de sistemas e tecnologias emergentes, com palestras, workshops e
        hackathons.
      </p>
      <p>Dias 15 a 17 de março | Das 18h às 21h | Online & Gratuito</p>
    </div>
  </app-card>
</app-default>
