<app-default>
  <app-card>
    <div class="card-header">
      <h3>Sobre o evento</h3>
      <span><ng-icon name="lucideRadio" class="icon" /> Ao vivo</span>
    </div>

    <div class="body-text">
      <p>
        Um evento feito por e para pessoas desenvolvedoras apaixonadas por criar soluções inovadoras
        e compartilhar conhecimento. Vamos mergulhar nas tendências mais recentes em desenvolvimento
        de software, arquitetura de sistemas e tecnologias emergentes, com palestras, workshops e
        hackathons.
      </p>
      <p>Dias 15 a 17 de março | Das 18h às 21h | Online & Gratuito</p>
    </div>
  </app-card>

  <app-card class="registration">
    <div class="card-header">
      <h3>Inscrição</h3>
    </div>
    <div class="form-group">
      <app-input iconName="lucideMail" placeholder="E-mail" />
      <app-input iconName="lucidePhone" placeholder="Telefone" />
    </div>
    <button class="button-confirm" (click)="goToConfirmed()">
      <span>Confirmar</span>
      <ng-icon name="lucideArrowRight" class="arrow" />
    </button>
  </app-card>
</app-default>
